﻿@model LoginModel;
@{
    ViewData["Title"] = "Login into your account";
}

<a asp-action="Register" asp-controller="Account">Registration</a>

<div class="container text-center w-25">
    <form asp-action="login" asp-controller="account" asp-anti-forgery="true">
    <div class="form-group">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="text-center">
                <label asp-for="Email">Email</label>
                <input class="form-control mb-2" type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
                <label asp-for="Password">Password</label>
                <input class="form-control mb-2" asp-for="Password" />
                <span asp-validation-for="Password" />
                <input type="submit" value="Login" class="btn btn-outline-dark" />
        </div>
    </div>
    </form>
</div>