﻿@model RegisterModel;
@{
    ViewData["Title"] = "Creating a new account";
}

<h2>Registration</h2>
 
<div class="container text-center w-25">
    <form asp-action="register" asp-controller="account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
                <label asp-for="Email">Email</label><br />
            <input class="form-control mb-2" type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
                <label asp-for="Password">Password</label><br />
            <input class="form-control mb-2" asp-for="Password" />
                <span asp-validation-for="Password" />
                <label asp-for="ConfirmPassword">Repeat password</label><br />
            <input class="form-control mb-2" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            <input type="submit" value="Registration" class="btn btn-outline-dark" />
    </form>
</div>