﻿@{
    ViewData["Title"] = "Files Exchange";
}
    <div class="container text-center w-25">
        <h3>Select your file:</h3>
        <form asp-action="post" asp-controller="files" method="post" enctype="multipart/form-data">
        <input class="form-control-file mb-2" type="file" name="files" />
        <label for="burnItAfter">Delete file after first download</label>
        <input class="form-check-input ml-2 mb-2" type="checkbox" id="burnItAfter" name="burnItAfter" />
        <input class="btn btn-primary" type="submit" value="Upload" />
        </form>
    </div>
