﻿@model Text
@{
    ViewData["Title"] = "Write your text";
}
    <div class="container text-center w-25">
    <h3>Write your text:</h3>
    <form asp-action="adding" asp-controller="texts" method="post" enctype="multipart/form-data">
        <label for="Name">Name of the text:</label>
            <input class="form-control mb-2" id="Name" type="text" asp-for="Name" />
        <textarea asp-for="SavedText" class="form-control mb-2" id="myTextArea" rows="4"></textarea>
        <label for="DeleteOnView">Burn it after reading</label>
        <input asp-for="DeleteOnView" class="form-check-input ml-2 mb-2" type="checkbox" id="DeleteOnView" name="DeleteOnView" />
        <br/><input class="btn btn-primary" type="submit" value="Add" />
        </form>
    </div>